* {
    background-color: #222222;
    color: #ffffbb;
    font-family: sans-serif;
    font-size: 28px;
}

input {
    border-radius: 8px;
    padding: 4px;
}

input.submit {
    background-color: #333333;
    padding: 4px 16px;
}

*:disabled {
    background-color: #777777;
    color: #aaaaaa;
}

input[type='number'] {
    border: 1px solid #aaaaaa;
    width: 80px;
}

input.search {
    width: 36vw;
    margin-top: 2vh;
    border: 1px solid #aaaaaa;
}

.center {
    text-align: center;
}

.large-img {
    max-width: 512px;
    max-height: 512px;
}

.huge-margin-top {
    margin-top: 40vh;
}

.mini-img {
    max-width: 128px;
    max-height: 128px;

}

.container {
    max-width: 1600px;
    margin: auto;
}

.flex {
    display: flex;
}

div.table {
    width: 480px;
    margin-right: 52px;
}

div.table>div {
    line-height: 52px;
    min-height: 52px;
}

div.table>div:nth-child(even) {
    background-color: #333333;
}

div.table span {
    background-color: transparent;
    display: inline-block;
}

div.table span:first-child {
    width: 300px;
}

.instructions {
    flex: 1;
}

.flex * {
    font-size: 24px;
    line-height: 1.5;
}

li {
    margin-bottom: 0.5em;
}

.galery {
    display: grid;
    margin-top: 24px;
    grid-template-columns: repeat(3, 1fr);
}

.galery>a>div {
    display: flex;
    align-items: center;
    height: 152px;
    box-sizing: border-box;
    border: 1px solid #909077;
}

.galery>a>div>* {
    margin-right: 24px;
}

.galery>a>div>span:first-child {
    width: 150px;
    height: 150px;
    flex: none;
    border-right: 1px solid #666633;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galery>a>div>span {
    height: fit-content;
}

.pagination {
    display: flex;
    justify-content: center;
}

@media (max-width: 1280px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }

    .galery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .galery {
        grid-template-columns: repeat(1, 1fr);
    }
}